/.idea
/.vscode
/nbproject
/node_modules
/public/fonts
/public/hot
/public/mix-manifest.json
/public/storage
public/backend/js/app.js
public/frontend/css/app.css
public/frontend/js/app.js
/storage/*.key
/vendor
/vscode
.editorconfig
.env
.env.backup
.phpunit.result.cache
.rnd
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
workspace.code-workspace
/.git_old
