/**
 * FAMFAMFAM flag icons CSS.
 *
 * Examples:
 * <i class="famfamfam-flag-fr"> France</i>
 * <i class="famfamfam-flag-us"> United States</i>
 */

[class^="famfamfam-flag"] {
  position: absolute;
  border-style: none;
  background-repeat: no-repeat;
  top: 4px;
  left: 60%;
}

.famfamfam-flag-zw { background-image: url(../images/flags/zw.svg); width: 16px; height: 16px; }
.famfamfam-flag-zm { background-image: url(../images/flags/zm.svg); width: 16px; height: 16px; }
.famfamfam-flag-za { background-image: url(../images/flags/za.svg); width: 16px; height: 16px; }
.famfamfam-flag-yt { background-image: url(../images/flags/yt.svg); width: 16px; height: 16px;   }
.famfamfam-flag-ye { background-image: url(../images/flags/ye.svg); width: 16px; height: 16px; }
.famfamfam-flag-ws { background-image: url(../images/flags/ws.svg); width: 16px; height: 16px;   }
.famfamfam-flag-wf { background-image: url(../images/flags/wf.svg); width: 16px; height: 16px; }
.famfamfam-flag-wales { background-image: url(../images/flags/gb-wls.svg); width: 16px; height: 16px;   }
.famfamfam-flag-vu { background-image: url(../images/flags/vu.svg); width: 16px; height: 16px;   }
.famfamfam-flag-vn { background-image: url(../images/flags/vn.svg); width: 16px; height: 16px; }
.famfamfam-flag-vi { background-image: url(../images/flags/vi.svg); width: 16px; height: 16px;   }
.famfamfam-flag-vg { background-image: url(../images/flags/vg.svg); width: 16px; height: 16px;   }
.famfamfam-flag-ve { background-image: url(../images/flags/ve.svg); width: 16px; height: 16px; }
.famfamfam-flag-vc { background-image: url(../images/flags/vc.svg); width: 16px; height: 16px;   }
.famfamfam-flag-va { background-image: url(../images/flags/va.svg); width: 16px; height: 16px;   }
.famfamfam-flag-uz { background-image: url(../images/flags/uz.svg); width: 16px; height: 16px;   }
.famfamfam-flag-uy { background-image: url(../images/flags/uy.svg); width: 16px; height: 16px; }
.famfamfam-flag-us { background-image: url(../images/flags/us.svg); width: 16px; height: 16px;   }
.famfamfam-flag-um { background-image: url(../images/flags/um.svg); width: 16px; height: 16px;   }
.famfamfam-flag-ug { background-image: url(../images/flags/ug.svg); width: 16px; height: 16px;   }
.famfamfam-flag-ua { background-image: url(../images/flags/ua.svg); width: 16px; height: 16px;   }
.famfamfam-flag-tz { background-image: url(../images/flags/tz.svg); width: 16px; height: 16px; }
.famfamfam-flag-tw { background-image: url(../images/flags/tw.svg); width: 16px; height: 16px;   }
.famfamfam-flag-tv { background-image: url(../images/flags/tv.svg); width: 16px; height: 16px;   }
.famfamfam-flag-tt { background-image: url(../images/flags/tt.svg); width: 16px; height: 16px;   }
.famfamfam-flag-tr { background-image: url(../images/flags/tr.svg); width: 16px; height: 16px;   }
.famfamfam-flag-to { background-image: url(../images/flags/to.svg); width: 16px; height: 16px; }
.famfamfam-flag-tn { background-image: url(../images/flags/tn.svg); width: 16px; height: 16px;   }
.famfamfam-flag-tm { background-image: url(../images/flags/tm.svg); width: 16px; height: 16px;   }
.famfamfam-flag-tl { background-image: url(../images/flags/tl.svg); width: 16px; height: 16px;   }
.famfamfam-flag-tk { background-image: url(../images/flags/tk.svg); width: 16px; height: 16px;   }
.famfamfam-flag-tj { background-image: url(../images/flags/tj.svg); width: 16px; height: 16px; }
.famfamfam-flag-th { background-image: url(../images/flags/th.svg); width: 16px; height: 16px;   }
.famfamfam-flag-tg { background-image: url(../images/flags/tg.svg); width: 16px; height: 16px;   }
.famfamfam-flag-tf { background-image: url(../images/flags/tf.svg); width: 16px; height: 16px;   }
.famfamfam-flag-td { background-image: url(../images/flags/td.svg); width: 16px; height: 16px;   }
.famfamfam-flag-tc { background-image: url(../images/flags/tc.svg); width: 16px; height: 16px; }
.famfamfam-flag-sz { background-image: url(../images/flags/sz.svg); width: 16px; height: 16px;   }
.famfamfam-flag-sy { background-image: url(../images/flags/sy.svg); width: 16px; height: 16px;   }
.famfamfam-flag-sx { background-image: url(../images/flags/sx.svg); width: 16px; height: 16px;   }
.famfamfam-flag-sv { background-image: url(../images/flags/sv.svg); width: 16px; height: 16px;   }
.famfamfam-flag-st { background-image: url(../images/flags/st.svg); width: 16px; height: 16px;   }
.famfamfam-flag-ss { background-image: url(../images/flags/ss.svg); width: 16px; height: 16px;   }
.famfamfam-flag-sr { background-image: url(../images/flags/sr.svg); width: 16px; height: 16px; }
.famfamfam-flag-so { background-image: url(../images/flags/so.svg); width: 16px; height: 16px;   }
.famfamfam-flag-sn { background-image: url(../images/flags/sn.svg); width: 16px; height: 16px;   }
.famfamfam-flag-sm { background-image: url(../images/flags/sm.svg); width: 16px; height: 16px;   }
.famfamfam-flag-sl { background-image: url(../images/flags/sl.svg); width: 16px; height: 16px;   }
.famfamfam-flag-sk { background-image: url(../images/flags/sk.svg); width: 16px; height: 16px;   }
.famfamfam-flag-si { background-image: url(../images/flags/si.svg); width: 16px; height: 16px; }
.famfamfam-flag-sh { background-image: url(../images/flags/sh.svg); width: 16px; height: 16px;   }
.famfamfam-flag-sg { background-image: url(../images/flags/sg.svg); width: 16px; height: 16px;   }
.famfamfam-flag-se { background-image: url(../images/flags/se.svg); width: 16px; height: 16px;   }
.famfamfam-flag-sd { background-image: url(../images/flags/sd.svg); width: 16px; height: 16px;   }
.famfamfam-flag-scotland { background-image: url(../images/flags/gb-sct.svg); width: 16px; height: 16px;   }
.famfamfam-flag-sc { background-image: url(../images/flags/sc.svg); width: 16px; height: 16px;   }
.famfamfam-flag-sb { background-image: url(../images/flags/sb.svg); width: 16px; height: 16px;   }
.famfamfam-flag-sa { background-image: url(../images/flags/sa.svg); width: 16px; height: 16px; }
.famfamfam-flag-rw { background-image: url(../images/flags/rw.svg); width: 16px; height: 16px;   }
.famfamfam-flag-ru { background-image: url(../images/flags/ru.svg); width: 16px; height: 16px;   }
.famfamfam-flag-rs { background-image: url(../images/flags/rs.svg); width: 16px; height: 16px;   }
.famfamfam-flag-ro { background-image: url(../images/flags/ro.svg); width: 16px; height: 16px;   }
.famfamfam-flag-qa { background-image: url(../images/flags/qa.svg); width: 16px; height: 16px;   }
.famfamfam-flag-py { background-image: url(../images/flags/py.svg); width: 16px; height: 16px;   }
.famfamfam-flag-pw { background-image: url(../images/flags/pw.svg); width: 16px; height: 16px; }
.famfamfam-flag-pt { background-image: url(../images/flags/pt.svg); width: 16px; height: 16px;   }
.famfamfam-flag-ps { background-image: url(../images/flags/ps.svg); width: 16px; height: 16px;   }
.famfamfam-flag-pr { background-image: url(../images/flags/pr.svg); width: 16px; height: 16px;   }
.famfamfam-flag-pn { background-image: url(../images/flags/pn.svg); width: 16px; height: 16px;   }
.famfamfam-flag-pm { background-image: url(../images/flags/pm.svg); width: 16px; height: 16px;   }
.famfamfam-flag-pl { background-image: url(../images/flags/pl.svg); width: 16px; height: 16px;   }
.famfamfam-flag-pk { background-image: url(../images/flags/pk.svg); width: 16px; height: 16px;  }
.famfamfam-flag-ph { background-image: url(../images/flags/ph.svg); width: 16px; height: 16px;    }
.famfamfam-flag-pg { background-image: url(../images/flags/pg.svg); width: 16px; height: 16px;    }
.famfamfam-flag-pf { background-image: url(../images/flags/pf.svg); width: 16px; height: 16px;    }
.famfamfam-flag-pe { background-image: url(../images/flags/pe.svg); width: 16px; height: 16px;    }
.famfamfam-flag-pa { background-image: url(../images/flags/pa.svg); width: 16px; height: 16px;    }
.famfamfam-flag-om { background-image: url(../images/flags/om.svg); width: 16px; height: 16px;    }
.famfamfam-flag-nz { background-image: url(../images/flags/nz.svg); width: 16px; height: 16px;    }
.famfamfam-flag-nu { background-image: url(../images/flags/nu.svg); width: 16px; height: 16px;    }
.famfamfam-flag-nr { background-image: url(../images/flags/nr.svg); width: 16px; height: 16px;    }
.famfamfam-flag-no { background-image: url(../images/flags/no.svg); width: 16px; height: 16px;  }
.famfamfam-flag-bv { background-image: url(../images/flags/bv.svg); width: 16px; height: 16px;  }
.famfamfam-flag-sj { background-image: url(../images/flags/sj.svg); width: 16px; height: 16px;  }
.famfamfam-flag-nl { background-image: url(../images/flags/nl.svg); width: 16px; height: 16px;    }
.famfamfam-flag-ni { background-image: url(../images/flags/ni.svg); width: 16px; height: 16px;    }
.famfamfam-flag-ng { background-image: url(../images/flags/ng.svg); width: 16px; height: 16px;    }
.famfamfam-flag-nf { background-image: url(../images/flags/nf.svg); width: 16px; height: 16px;    }
.famfamfam-flag-ne { background-image: url(../images/flags/ne.svg); width: 16px; height: 16px;    }
.famfamfam-flag-nc { background-image: url(../images/flags/nc.svg); width: 16px; height: 16px;    }
.famfamfam-flag-na { background-image: url(../images/flags/na.svg); width: 16px; height: 16px;     }
.famfamfam-flag-mz { background-image: url(../images/flags/mz.svg); width: 16px; height: 16px;  }
.famfamfam-flag-my { background-image: url(../images/flags/my.svg); width: 16px; height: 16px;    }
.famfamfam-flag-mx { background-image: url(../images/flags/mx.svg); width: 16px; height: 16px;    }
.famfamfam-flag-mw { background-image: url(../images/flags/mw.svg); width: 16px; height: 16px;    }
.famfamfam-flag-mv { background-image: url(../images/flags/mv.svg); width: 16px; height: 16px;    }
.famfamfam-flag-mu { background-image: url(../images/flags/mu.svg); width: 16px; height: 16px;    }
.famfamfam-flag-mt { background-image: url(../images/flags/mt.svg); width: 16px; height: 16px;    }
.famfamfam-flag-ms { background-image: url(../images/flags/ms.svg); width: 16px; height: 16px;    }
.famfamfam-flag-mr { background-image: url(../images/flags/mr.svg); width: 16px; height: 16px;    }
.famfamfam-flag-mq { background-image: url(../images/flags/mq.svg); width: 16px; height: 16px;    }
.famfamfam-flag-mp { background-image: url(../images/flags/mp.svg); width: 16px; height: 16px;     }
.famfamfam-flag-mo { background-image: url(../images/flags/mo.svg); width: 16px; height: 16px;  }
.famfamfam-flag-mn { background-image: url(../images/flags/mn.svg); width: 16px; height: 16px;    }
.famfamfam-flag-mm { background-image: url(../images/flags/mm.svg); width: 16px; height: 16px;    }
.famfamfam-flag-ml { background-image: url(../images/flags/ml.svg); width: 16px; height: 16px;    }
.famfamfam-flag-mk { background-image: url(../images/flags/mk.svg); width: 16px; height: 16px;    }
.famfamfam-flag-mh { background-image: url(../images/flags/mh.svg); width: 16px; height: 16px;    }
.famfamfam-flag-mg { background-image: url(../images/flags/mg.svg); width: 16px; height: 16px;    }
.famfamfam-flag-me { background-image: url(../images/flags/me.svg); width: 16px; height: 16px;  }
.famfamfam-flag-md { background-image: url(../images/flags/md.svg); width: 16px; height: 16px;     }
.famfamfam-flag-mc { background-image: url(../images/flags/mc.svg); width: 16px; height: 16px;     }
.famfamfam-flag-ma { background-image: url(../images/flags/ma.svg); width: 16px; height: 16px;    }
.famfamfam-flag-ly { background-image: url(../images/flags/ly.svg); width: 16px; height: 16px;    }
.famfamfam-flag-lv { background-image: url(../images/flags/lv.svg); width: 16px; height: 16px;    }
.famfamfam-flag-lu { background-image: url(../images/flags/lu.svg); width: 16px; height: 16px;    }
.famfamfam-flag-lt { background-image: url(../images/flags/lt.svg); width: 16px; height: 16px;    }
.famfamfam-flag-ls { background-image: url(../images/flags/ls.svg); width: 16px; height: 16px;    }
.famfamfam-flag-lr { background-image: url(../images/flags/lr.svg); width: 16px; height: 16px;     }
.famfamfam-flag-lk { background-image: url(../images/flags/lk.svg); width: 16px; height: 16px;     }
.famfamfam-flag-li { background-image: url(../images/flags/li.svg); width: 16px; height: 16px;  }
.famfamfam-flag-lc { background-image: url(../images/flags/lc.svg); width: 16px; height: 16px;    }
.famfamfam-flag-lb { background-image: url(../images/flags/lb.svg); width: 16px; height: 16px;    }
.famfamfam-flag-la { background-image: url(../images/flags/la.svg); width: 16px; height: 16px;    }
.famfamfam-flag-kz { background-image: url(../images/flags/kz.svg); width: 16px; height: 16px;    }
.famfamfam-flag-ky { background-image: url(../images/flags/ky.svg); width: 16px; height: 16px;    }
.famfamfam-flag-kw { background-image: url(../images/flags/kw.svg); width: 16px; height: 16px;    }
.famfamfam-flag-kr { background-image: url(../images/flags/kr.svg); width: 16px; height: 16px;    }
.famfamfam-flag-kp { background-image: url(../images/flags/kp.svg); width: 16px; height: 16px;    }
.famfamfam-flag-kn { background-image: url(../images/flags/kn.svg); width: 16px; height: 16px;    }
.famfamfam-flag-km { background-image: url(../images/flags/km.svg); width: 16px; height: 16px;     }
.famfamfam-flag-ki { background-image: url(../images/flags/ki.svg); width: 16px; height: 16px;     }
.famfamfam-flag-kh { background-image: url(../images/flags/kh.svg); width: 16px; height: 16px;     }
.famfamfam-flag-kg { background-image: url(../images/flags/kg.svg); width: 16px; height: 16px;  }
.famfamfam-flag-ke { background-image: url(../images/flags/ke.svg); width: 16px; height: 16px;    }
.famfamfam-flag-jp { background-image: url(../images/flags/jp.svg); width: 16px; height: 16px;    }
.famfamfam-flag-jo { background-image: url(../images/flags/jo.svg); width: 16px; height: 16px;    }
.famfamfam-flag-jm { background-image: url(../images/flags/jm.svg); width: 16px; height: 16px;    }
.famfamfam-flag-je { background-image: url(../images/flags/je.svg); width: 16px; height: 16px;    }
.famfamfam-flag-it { background-image: url(../images/flags/it.svg); width: 16px; height: 16px;    }
.famfamfam-flag-is { background-image: url(../images/flags/is.svg); width: 16px; height: 16px;     }
.famfamfam-flag-ir { background-image: url(../images/flags/ir.svg); width: 16px; height: 16px;     }
.famfamfam-flag-iq { background-image: url(../images/flags/iq.svg); width: 16px; height: 16px;     }
.famfamfam-flag-io { background-image: url(../images/flags/io.svg); width: 16px; height: 16px;  }
.famfamfam-flag-in { background-image: url(../images/flags/in.svg); width: 16px; height: 16px;    }
.famfamfam-flag-im { background-image: url(../images/flags/im.svg); width: 16px; height: 16px;   }
.famfamfam-flag-il { background-image: url(../images/flags/il.svg); width: 16px; height: 16px;    }
.famfamfam-flag-ie { background-image: url(../images/flags/ie.svg); width: 16px; height: 16px;    }
.famfamfam-flag-id { background-image: url(../images/flags/id.svg); width: 16px; height: 16px;    }
.famfamfam-flag-hu { background-image: url(../images/flags/hu.svg); width: 16px; height: 16px;    }
.famfamfam-flag-ht { background-image: url(../images/flags/ht.svg); width: 16px; height: 16px;    }
.famfamfam-flag-hr { background-image: url(../images/flags/hr.svg); width: 16px; height: 16px;    }
.famfamfam-flag-hn { background-image: url(../images/flags/hn.svg); width: 16px; height: 16px;    }
.famfamfam-flag-hk { background-image: url(../images/flags/hk.svg); width: 16px; height: 16px;     }
.famfamfam-flag-gy { background-image: url(../images/flags/gy.svg); width: 16px; height: 16px;     }
.famfamfam-flag-gw { background-image: url(../images/flags/gw.svg); width: 16px; height: 16px;     }
.famfamfam-flag-gu { background-image: url(../images/flags/gu.svg); width: 16px; height: 16px;     }
.famfamfam-flag-gt { background-image: url(../images/flags/gt.svg); width: 16px; height: 16px;  }
.famfamfam-flag-gs { background-image: url(../images/flags/gs.svg); width: 16px; height: 16px;    }
.famfamfam-flag-gr { background-image: url(../images/flags/gr.svg); width: 16px; height: 16px;    }
.famfamfam-flag-gq { background-image: url(../images/flags/gq.svg); width: 16px; height: 16px;    }
.famfamfam-flag-gp { background-image: url(../images/flags/gp.svg); width: 16px; height: 16px;    }
.famfamfam-flag-gn { background-image: url(../images/flags/gn.svg); width: 16px; height: 16px;    }
.famfamfam-flag-gm { background-image: url(../images/flags/gm.svg); width: 16px; height: 16px;    }
.famfamfam-flag-gl { background-image: url(../images/flags/gl.svg); width: 16px; height: 16px;     }
.famfamfam-flag-gi { background-image: url(../images/flags/gi.svg); width: 16px; height: 16px;     }
.famfamfam-flag-gh { background-image: url(../images/flags/gh.svg); width: 16px; height: 16px;     }
.famfamfam-flag-gg { background-image: url(../images/flags/gg.svg); width: 16px; height: 16px;     }
.famfamfam-flag-ge { background-image: url(../images/flags/ge.svg); width: 16px; height: 16px;  }
.famfamfam-flag-gd { background-image: url(../images/flags/gd.svg); width: 16px; height: 16px;    }
.famfamfam-flag-gb { background-image: url(../images/flags/gb.svg); width: 16px; height: 16px;    }
.famfamfam-flag-ga { background-image: url(../images/flags/ga.svg); width: 16px; height: 16px;    }
.famfamfam-flag-fr { background-image: url(../images/flags/fr.svg); width: 16px; height: 16px;    }
.famfamfam-flag-gf { background-image: url(../images/flags/gf.svg); width: 16px; height: 16px;    }
.famfamfam-flag-re { background-image: url(../images/flags/re.svg); width: 16px; height: 16px;    }
.famfamfam-flag-mf { background-image: url(../images/flags/mf.svg); width: 16px; height: 16px;    }
.famfamfam-flag-bl { background-image: url(../images/flags/bl.svg); width: 16px; height: 16px;    }
.famfamfam-flag-fo { background-image: url(../images/flags/fo.svg); width: 16px; height: 16px;    }
.famfamfam-flag-fm { background-image: url(../images/flags/fm.svg); width: 16px; height: 16px;    }
.famfamfam-flag-fk { background-image: url(../images/flags/fk.svg); width: 16px; height: 16px;    }
.famfamfam-flag-fj { background-image: url(../images/flags/fj.svg); width: 16px; height: 16px;    }
.famfamfam-flag-fi { background-image: url(../images/flags/fi.svg); width: 16px; height: 16px;    }
.famfamfam-flag-fam { background-image: url(../images/flags/am.svg); width: 16px; height: 16px;     }
.famfamfam-flag-eu { background-image: url(../images/flags/eu.svg); width: 16px; height: 16px;     }
.famfamfam-flag-et { background-image: url(../images/flags/et.svg); width: 16px; height: 16px;     }
.famfamfam-flag-es { background-image: url(../images/flags/es.svg); width: 16px; height: 16px;     }
.famfamfam-flag-er { background-image: url(../images/flags/er.svg); width: 16px; height: 16px;     }
.famfamfam-flag-england { background-image: url(../images/flags/gb-eng.svg); width: 16px; height: 16px;  }
.famfamfam-flag-eh { background-image: url(../images/flags/eh.svg); width: 16px; height: 16px;    }
.famfamfam-flag-eg { background-image: url(../images/flags/eg.svg); width: 16px; height: 16px;    }
.famfamfam-flag-ee { background-image: url(../images/flags/ee.svg); width: 16px; height: 16px;    }
.famfamfam-flag-ec { background-image: url(../images/flags/ec.svg); width: 16px; height: 16px;    }
.famfamfam-flag-dz { background-image: url(../images/flags/dz.svg); width: 16px; height: 16px;    }
.famfamfam-flag-do { background-image: url(../images/flags/do.svg); width: 16px; height: 16px;    }
.famfamfam-flag-dm { background-image: url(../images/flags/dm.svg); width: 16px; height: 16px;     }
.famfamfam-flag-dk { background-image: url(../images/flags/dk.svg); width: 16px; height: 16px;     }
.famfamfam-flag-dj { background-image: url(../images/flags/dj.svg); width: 16px; height: 16px;     }
.famfamfam-flag-de { background-image: url(../images/flags/de.svg); width: 16px; height: 16px;     }
.famfamfam-flag-cz { background-image: url(../images/flags/cz.svg); width: 16px; height: 16px;     }
.famfamfam-flag-cy { background-image: url(../images/flags/cy.svg); width: 16px; height: 16px;  }
.famfamfam-flag-cx { background-image: url(../images/flags/cx.svg); width: 16px; height: 16px;    }
.famfamfam-flag-cw { background-image: url(../images/flags/cw.svg); width: 16px; height: 16px;    }
.famfamfam-flag-cv { background-image: url(../images/flags/cv.svg); width: 16px; height: 16px;    }
.famfamfam-flag-cu { background-image: url(../images/flags/cu.svg); width: 16px; height: 16px;    }
.famfamfam-flag-cs { background-image: url(../images/flags/cs.svg); width: 16px; height: 16px;    }
.famfamfam-flag-cr { background-image: url(../images/flags/cr.svg); width: 16px; height: 16px;    }
.famfamfam-flag-co { background-image: url(../images/flags/co.svg); width: 16px; height: 16px;     }
.famfamfam-flag-cn { background-image: url(../images/flags/cn.svg); width: 16px; height: 16px;     }
.famfamfam-flag-cm { background-image: url(../images/flags/cm.svg); width: 16px; height: 16px;     }
.famfamfam-flag-cl { background-image: url(../images/flags/cl.svg); width: 16px; height: 16px;     }
.famfamfam-flag-ck { background-image: url(../images/flags/ck.svg); width: 16px; height: 16px;     }
.famfamfam-flag-ci { background-image: url(../images/flags/ci.svg); width: 16px; height: 16px;  }
.famfamfam-flag-cg { background-image: url(../images/flags/cg.svg); width: 16px; height: 16px;    }
.famfamfam-flag-cf { background-image: url(../images/flags/cf.svg); width: 16px; height: 16px;    }
.famfamfam-flag-cd { background-image: url(../images/flags/cd.svg); width: 16px; height: 16px;    }
.famfamfam-flag-cc { background-image: url(../images/flags/cc.svg); width: 16px; height: 16px;    }
.famfamfam-flag-catalonia { background-image: url(../images/flags/es-ct.svg); width: 16px; height: 16px;    }
.famfamfam-flag-ca { background-image: url(../images/flags/ca.svg); width: 16px; height: 16px;    }
.famfamfam-flag-bz { background-image: url(../images/flags/bz.svg); width: 16px; height: 16px;    }
.famfamfam-flag-by { background-image: url(../images/flags/by.svg); width: 16px; height: 16px;    }
.famfamfam-flag-bw { background-image: url(../images/flags/bw.svg); width: 16px; height: 16px;    }
.famfamfam-flag-bt { background-image: url(../images/flags/bt.svg); width: 16px; height: 16px;     }
.famfamfam-flag-bs { background-image: url(../images/flags/bs.svg); width: 16px; height: 16px;     }
.famfamfam-flag-br { background-image: url(../images/flags/br.svg); width: 16px; height: 16px;     }
.famfamfam-flag-bq { background-image: url(../images/flags/bq.svg); width: 16px; height: 16px;     }
.famfamfam-flag-bo { background-image: url(../images/flags/bo.svg); width: 16px; height: 16px;     }
.famfamfam-flag-bn { background-image: url(../images/flags/bn.svg); width: 16px; height: 16px;     }
.famfamfam-flag-bm { background-image: url(../images/flags/bm.svg); width: 16px; height: 16px;     }
.famfamfam-flag-bj { background-image: url(../images/flags/bj.svg); width: 16px; height: 16px;  }
.famfamfam-flag-bi { background-image: url(../images/flags/bi.svg); width: 16px; height: 16px;    }
.famfamfam-flag-bh { background-image: url(../images/flags/bh.svg); width: 16px; height: 16px;    }
.famfamfam-flag-bg { background-image: url(../images/flags/bg.svg); width: 16px; height: 16px;    }
.famfamfam-flag-bf { background-image: url(../images/flags/bf.svg); width: 16px; height: 16px;    }
.famfamfam-flag-be { background-image: url(../images/flags/be.svg); width: 16px; height: 16px;    }
.famfamfam-flag-bd { background-image: url(../images/flags/bd.svg); width: 16px; height: 16px;    }
.famfamfam-flag-bb { background-image: url(../images/flags/bb.svg); width: 16px; height: 16px;     }
.famfamfam-flag-ba { background-image: url(../images/flags/ba.svg); width: 16px; height: 16px;     }
.famfamfam-flag-az { background-image: url(../images/flags/az.svg); width: 16px; height: 16px;     }
.famfamfam-flag-ax { background-image: url(../images/flags/ax.svg); width: 16px; height: 16px;     }
.famfamfam-flag-aw { background-image: url(../images/flags/aw.svg); width: 16px; height: 16px;     }
.famfamfam-flag-au { background-image: url(../images/flags/au.svg); width: 16px; height: 16px;     }
.famfamfam-flag-hm { background-image: url(../images/flags/hm.svg); width: 16px; height: 16px;     }
.famfamfam-flag-at { background-image: url(../images/flags/at.svg); width: 16px; height: 16px;  }
.famfamfam-flag-as { background-image: url(../images/flags/as.svg); width: 16px; height: 16px;    }
.famfamfam-flag-ar { background-image: url(../images/flags/ar.svg); width: 16px; height: 16px;    }
.famfamfam-flag-ao { background-image: url(../images/flags/ao.svg); width: 16px; height: 16px;    }
.famfamfam-flag-an { background-image: url(../images/flags/an.svg); width: 16px; height: 16px;    }
.famfamfam-flag-am { background-image: url(../images/flags/am.svg); width: 16px; height: 16px;    }
.famfamfam-flag-al { background-image: url(../images/flags/al.svg); width: 16px; height: 16px;    }
.famfamfam-flag-ai { background-image: url(../images/flags/ai.svg); width: 16px; height: 16px;    }
.famfamfam-flag-ag { background-image: url(../images/flags/ag.svg); width: 16px; height: 16px;    }
.famfamfam-flag-af { background-image: url(../images/flags/af.svg); width: 16px; height: 16px;    }
.famfamfam-flag-ae { background-image: url(../images/flags/ae.svg); width: 16px; height: 16px;     }
.famfamfam-flag-ad { background-image: url(../images/flags/ad.svg); width: 16px; height: 16px;     }
.famfamfam-flag-np { background-image: url(../images/flags/np.svg); width: 16px; height: 16px;    }
.famfamfam-flag-ch { background-image: url(../images/flags/ch.svg); width: 16px; height: 16px;     }